body {
    padding:0;
    margin:0;
    background-color:#ddd;
}

canvas {
    position: relative;
    display: block;
}

canvas#spielfeld {
    position:fixed;
    left:10px;
    top: 10px;
    background: #fff;
    border-radius: 5px;
    border: #888 1px solid;
}